h1 {
  color: #402b1f;

  /* h1 */
  font-family: Kurale;
  font-size: 68px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 81.6px */
}

h2 {
  color: #402b1f;

  /* h2 */
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 48px */
}

h3 {
  color: #402b1f;

  /* h3 */
  font-family: Cormorant Infant;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 36px */
}

p {
  color: #402b1f;

  /* p */
  font-family: Roboto Slab;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
  letter-spacing: 0.36px;
}

button {
  width: 120px;
  height: 50px;
  background-color: #127ebc;
  color: white;
  font-family: Roboto Slab;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

button:hover {
  background-color: #419fd4;
}
