/* блок 1 */
.container1 {
  background: #add171;
  height: 720px;
  width: 100%;
  position: relative;
}
.container1 .box {
  width: 708px;
  height: 356px;
  border-radius: 7px;
  opacity: 0.8;
  background: #d5f4a1;
  margin: 88px 0 0 42px;
  display: inline-block;
}
.box h1 {
  padding: 26px 0 30px 43px;
}
.box h2 {
  padding: 0 0 0 43px;
}
.container1 button {
  position: absolute;
  top: 434px;
  left: 150px;
}
.container1 img {
  width: 293px;
  height: 426px;
  transform: rotate(17.174deg);
  border-radius: 20px;
  background: #127ebc;
  position: absolute;
  top: 110px;
  right: 130px;
}

/* блок 2 */

.container2 {
  height: 720px;
  width: 100%;
  position: relative;
}

.container2 .box {
  width: 710px;
  height: 464px;
  margin: 60px 0 0 85px;
  display: inline-block;
}
.container2 h1 {
  padding: 0px;
}

.container2 p {
  margin: 35px 0 26px 0;
}

.container2 h3 {
  margin: 0 0 30px 0;
}

.container2 ul {
  /* list-style: circle; */
  padding-left: 16px;
}

.container2 .box2 {
  width: 284px;
  height: 375px;
  background: white;
  display: inline-block;
  position: relative;
  margin: 0 196px 0 190px;
}
/* иконки детские */
.icon1 {
  position: absolute;
  top: 200px;
  right: 350px;
  display: block;
}

.icon2 {
  position: absolute;
  top: 311px;
  right: 200px;
  display: block;
}

.icon3 {
  position: absolute;
  top: 432px;
  right: 350px;
  display: block;
}
/* всё тоже самое но текст к детским картиночкам */
.container2 .h21 {
  top: 295px;
  right: 372px;
  position: absolute;
}
.container2 .h22 {
  position: absolute;
  top: 406px;
  right: 169px;
}
.container2 .h23 {
  position: absolute;
  top: 527px;
  right: 326px;
}
.container2 .tile1,
.tile2,
.tile3 {
  background: #add171;
  width: 170px;
  height: 170px;
  position: absolute;
}

.container2 .tile1 {
  right: 0;
  top: 0;
}
.container2 .tile2 {
  right: 170px;
  top: 0;
}
.container2 .tile3 {
  right: 0;
  top: 170px;
}
/* блок 3 */
.container3 {
  width: 100%;
  height: 720px;
}

.container3 .box {
  width: 619px;
  height: 420px;
  margin-right: calc(50% - 350px);
  margin-top: 20px;
  float: right;
}

.container3 .box1 {
  /* width: 454px;
  height: 82px; */
  padding: 0;
  padding: 45px 57px 43px 44px;
}

.container3 .box2 {
  width: 288px;
  height: 96px;
  display: inline-block;
  padding: 0px;
  padding: 0 95px 200px 0;
}

.container3 .box3 {
  width: 229px;
  height: 96px;
  padding: 0px;
  padding: 0 65px 102px 0;
  display: inline-block;
}

.container3 .box4 {
  display: inline-block;
  width: 289px;
  height: 48px;
  padding: 0px 0px 0px 0px;
}

.container3 .box5 {
  display: inline-block;
  width: 269px;
  height: 96px;
  padding: 0px;
}
/* блок4 */
.container4 {
  width: 100%;
  height: 660px;
  position: relative;
}
.container4 div {
  position: absolute;
}

.container4 .box1 {
  left: 340px;
}

.container4 .box2 {
  width: 653px;
  top: 115px;
  left: 275px;
}

.container4 .box3 {
  top: 434px;
  right: 559px;
}

.container4 .box4 {
  width: 665px;
  top: 500px;
  right: 84px;
}

/* Ход игры */

.container5 {
  width: 100%;
  height: 1713px;
  position: relative;
}

.container5 h1 {
  margin-top: 7px;
  text-align: center;
}

.container5 .box1 {
  width: 476px;
  position: absolute;
  top: 123px;
  left: 179px;
}

.container5 .box1 h2 {
  width: 350px;
  margin-bottom: 10px;
}

.container5 .box2 {
  width: 474px;
  position: absolute;
  top: 396px;
  right: 86px;
}

.container5 .box2 h2 {
  text-align: center;
  margin-bottom: 14px;
}

.container5 .box3 {
  width: 760px;
  position: absolute;
  top: 707px;
  right: 274px;
}

.container5 .box3 h2 {
  text-align: center;
  margin-bottom: 18px;
}

.container5 .box4 {
  width: 474px;
  height: 197px;
  position: absolute;
  top: 1134px;
  left: 179px;
}

.container5 .box4 h2 {
  margin-bottom: 14px;
}

.container5 .box5 {
  width: 474px;
  height: 238px;
  position: absolute;
  top: 1410px;
  right: 150px;
}

.container5 .box5 h1 {
  margin-bottom: 21px;
  margin-top: 0px;
}

.container5 button {
  width: 160px;
  height: 50px;
  position: absolute;
  bottom: 9px;
  right: 465px;
}

/* Отзывы*/

.container6 {
  width: 100%;
  height: 660px;
  position: relative;
}

.container6 h1 {
  top: 5px;
  right: 375px;
  padding: 0;
  position: absolute;

}

.container6 .box{
  position: absolute;
  right: calc(50% - 421px);
  top: 164px;
  width: 842px;
}

.container6 .box h2{
  padding: 0 30px;

}

.container6 .box h3{
  margin: 48px 0 0 30px;
}

.container6 .mark1{
    position: static;
    padding: 0;
    float: left;
    top: 0;
    left: 0;
}

.container6 .mark2{
  position: static;
  float: right;
  padding: 44px 0px 0 0;
  top: 0;
  left: 0;
}

.container7 {
  height: 660px;
  position: relative;
}

.container7 * {
  position: absolute;
}

.container7 h1 {
  top: 26px;
  left: 655px;
}

.container7 p {
  width: 540px;
  top: 149px;
  left: 659px;
}

.container7 h2 {
  top: 478px;
  left: 659px;
}

.container8 {
  height: 660px;
  position: relative;
}

.container8 .box{
  position: absolute;
  left: calc(50% - 555px);
  top: 39px;
}

.container8 h1 {
  /* margin-top: 39px; */
  text-align: center;
  padding: 0;
}

.container8 h2 {
  margin: 13px 0 39px 0;
  text-align: center;
  padding: 0;

}

/* .karkason {
  margin-left: 85px;
} */
.royal-gift {
  margin-left: 30px;
}

.karkason,
.royal-gift {
  display: inline-block;
  background: #a5775e;
  border-radius: 20px;
  width: 540px;
  height: 368px;
}

.karkason h2,
.royal-gift h2 {
  padding: 0;
  text-align: left;
  margin: 30px 0 15px 65px;
  color: white;
}

.name,
.email,
.phone-number {
  width: 380px;
  height: 45px;
  background: white;
  margin: 15px 0 0 65px;
}

.name {
  margin-top: 30px;
}

.karkason button,
.royal-gift button {
  margin: 30px 0 0 65px;
}

footer {
  height: 100px;
  background: #402b1f;
}

footer h3 {
  color: white;
}
