/* блок 1 */
.container1 {
  background: #add171;
  height: 720px;
  width: 100%;
  position: relative;
}
.container1 .box {
  width: 708px;
  height: 356px;
  border-radius: 7px;
  opacity: 0.8;
  background: #d5f4a1;
  margin: 88px 0 0 42px;
  display: inline-block;
}
.box h1 {
  padding: 26px 0 30px 43px;
}
.box h2 {
  padding: 0 0 0 43px;
}
.container1 button {
  position: absolute;
  top: 434px;
  left: 150px;
}
.container1 img {
  width: 293px;
  height: 426px;
  transform: rotate(17.174deg);
  border-radius: 20px;
  background: #127ebc;
  position: absolute;
  top: 110px;
  right: 130px;
}

/* блок 2 */

.container2 {
  height: 720px;
  width: 100%;
  position: relative;
}

.container2 .box {
  width: 710px;
  height: 464px;
  margin: 60px 0 0 85px;
  display: inline-block;
}
.container2 h1 {
  padding: 0px;
}

.container2 p {
  margin: 35px 0 26px 0;
}

.container2 h3 {
  margin: 0 0 30px 0;
}

.p2 {
}

.container2 ul {
  /* list-style: circle; */
  padding-left: 16px;
}

.container2 .box2 {
  width: 284px;
  height: 375px;
  background: white;
  display: inline-block;
  position: relative;
  margin: 0 196px 0 190px;
}
/* иконки детские */
.icon1 {
  position: absolute;
  top: 200px;
  right: 350px;
  display: block;
}

.icon2 {
  position: absolute;
  top: 311px;
  right: 200px;
  display: block;
}

.icon3 {
  position: absolute;
  top: 432px;
  right: 350px;
  display: block;
}
/* всё тоже самое но текст к детским картиночкам */
.container2 .h21 {
  top: 295px;
  right: 372px;
  position: absolute;
}
.container2 .h22 {
  position: absolute;
  top: 406px;
  right: 169px;
}
.container2 .h23 {
  position: absolute;
  top: 527px;
  right: 326px;
}
