.img-1 {
  position: absolute;
  right: 0;
  top: 1403px;
}

.img-2 {
  position: absolute;
  right: 0;
  top: 3685px;
}

.img-3 {
  position: absolute;
  left: 0;
  top: 3408px;
}

.img-4 {
  position: absolute;
  left: 269px;
  top: 4431px;
}

.img-5 {
  position: absolute;
  right: 310px;
  top: 3047px;
}

.img-6 {
  position: absolute;
  right: 150px;
  top: 2535px;
  z-index: 1;
}

.img-7 {
  position: absolute;
  right: 0;
  top: 1905px;
}

.img-8 {
  position: absolute;
  left: 0;
  top: 1919px;
  z-index: 1;
}

.img-9 {
  position: absolute;
  left: 0;
  top: 1394px;
}

.img-10 {
  position: absolute;
  left: 0;
  top: 5320px;
  z-index: 1;
}
